<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UK tax calculator</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/app.js' %}"/></script>
    <script type="text/javascript" src="{% static 'js/genResultsTemplate.js' %}"/></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <h2>My Personal TAX CALCULATOR - UK Version</h2>
    <br/>
    <div class="container">
      Annual Tax-Free Allowance: <input type="text" id="annualAllowance" value="12500"/>
      <br>
      Annual NI Allowance: <input type="text" id="niAllowance" value="9500"/>
      <br>
      PAYE Rate: <input type="text" id="payeRate" value="20"/>%
      <br>
      NI Rate: <input type="text" id="niRate" value="12"/>%
      <br>
      Pension Rate: <input type="text" id="pensionRate" value="5"/>%
      <hr>
      <input type="radio" name="timeframe" id="annual" value="annual" onclick="generateAnnualTemplate();">Annual
      <input type="radio" name="timeframe" id="monthly" value="monthly"onclick="generateMonthlyTemplate();">Monthly
      <input type="radio" name="timeframe" id="hourly" value="hourly" onclick="generateHourlyTemplate();" checked>Hourly

      <div id="results-container">
          Rate Per Hour: <input type="text" id="basicHrRate" value="8.50"/>   X  <input type="text" id="numHours" value="160"/> Hours
          <br>
          Overtime Rate Per Hour: <input type="text" id="overtimeRate" value="1.5"/> times   X   <input type="text" id="overtimeHours" value="0"/> Hours
          <br>
          Additional Overtime Rate Per Hour: <input type="text" id="additionalOvertimeRate" value="2"/> times   X   <input type="text" id="additionalOvertimeHours" value="0"/> Hours
          <br>
          Additional Compensation: <input type="text" id="additionalCompensation" value="0"/>
          <br>
          Additional Compensation(NO NI DEDUCTED): <input type="text" id="additionalCompensationNONI" value="0"/>
      </div>
      <button type="button" onclick="calculateSalary();">Calculate Now</button>
      Gross Pay(Before tax): <label id="grossPay"/>
      <br>
      PAYE tax: <label id="paye"/>
      <br>
      National Insurance: <label id="ni"/>
      <br>
      Pension Contributions: <label id="pension"/>
      <div class="net-pay-container">
        Net Pay(After tax): <label id="netPay"/>
      </div>
    </div>
  </body>
</html>
