<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title></title>
  </head>
  <body>
    <h2>My Personal TAX CALCULATOR - UK Version</h2>
    <br/>
      <form>
        <table>
          <tr>
            <td>Annual Tax-Free Allowance:</td>
            <td><input type="number" id="annualAllowance" value="12500"/></td>
          </tr>
          <tr>
            <td>Weekly NI Allowance:</td>
            <td><input type="number" id="niAllowance" value="9500"/></td>
          </tr>
          <tr>
            <td>PAYE Rate:</td>
            <td><input type="number" id="payeRate" value="20"/>%</td>
          </tr>
          <tr>
            <td>NI Rate:</td>
            <td><input type="number" id="niRate" value="12"/>%</td>
          </tr>
          <tr>
            <td>Pension Rate:</td>
            <td><input type="number" id="pensionRate" value="5"/>%</td>
          </tr>
          <hr>
          <tr>
            <td>
              <input type="radio" name="timeframe" id="annual" value="annual">Annual
              <input type="radio" name="timeframe" id="monthly" value="monthly">Monthly
              <input type="radio" name="timeframe" id="hourly" value="hourly" checked>Hourly
            </td>
          </tr>
        </table>

        <div class="results-container">
          <table>
            <tr>
              <td>Rate Per Hour:</td>
              <td><input type="number" id="basicHrRate" value="8.50"/></td>
              <td>Number of Hours this month:</td>
              <td><input type="number" id="numHours" value="160"/></td>
            </tr>
            <tr>
              <td>Overtime Rate Per Hour:</td>
              <td><input type="number" id="overtimeRate" value="1.5"/>times</td>
              <td>Number of Hours this month:</td>
              <td><input type="number" id="overtimeHours" value="0"/></td>
            </tr>
            <tr>
              <td>Additional Overtime Rate Per Hour:</td>
              <td><input type="number" id="additionalOvertimeRate" value="2"/>times</td>
              <td>Number of Hours this month:</td>
              <td><input type="number" id="additionalOvertimeHours" value="0"/></td>
            </tr>
            <tr>
              <td>Gross Pay(Before tax):</td>
              <td><input type="text" id="grossPay" disabled/></td>
            </tr>
            <tr>
              <td>PAYE tax:</td>
              <td><input type="text" id="paye" disabled/></td>
            </tr>
            <tr>
              <td>National Insurance:</td>
              <td><input type="text" id="ni" disabled/></td>
            </tr>
            <tr>
              <td>Pension Contributions:</td>
              <td><input type="text" id="pension" disabled/></td>
            </tr>
          </table>
          <div class="">
            Net Pay(After tax):
            <input type="text" id="netPay" disabled/>
            <br>

            {% load static %}
            <script type="text/javascript" src="{% static 'js/app.js' %}"/></script>

            <button type="button" onclick="calculateSalary();">Calculate Now</button>
          </div>
        </div>
    </form>
  </body>
</html>
