<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UK tax calculator</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/app.js' %}"/></script>
    <script type="text/javascript" src="{% static 'js/genResultsTemplate.js' %}"/></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <br/>
    <div class="container">
      <h2>My Personal TAX CALCULATOR - UK Version</h2>
      <table>
        <tr>
          <td class="label">Annual Tax-Free Allowance:</td>
          <td><input type="text" id="annualAllowance" value="12500"/></td>
        </tr>
        <tr>
          <td class="label">Annual NI Allowance:</td>
          <td><input type="text" id="niAllowance" value="9500"/></td>
        </tr>
        <tr>
          <td class="label">PAYE Rate:</td>
          <td><input type="text" id="payeRate" value="20"/>%</td>
        </tr>
        <tr>
          <td class="label">NI Rate:</td>
          <td><input type="text" id="niRate" value="12"/>%</td>
        </tr>
        <tr>
          <td class="label">Pension Rate:</td>
          <td><input type="text" id="pensionRate" value="5"/>%</td>
        </tr>
      </table>

      <hr>
      <input type="radio" name="timeframe" id="annual" value="annual" onclick="generateAnnualTemplate();">Annual
      <input type="radio" name="timeframe" id="monthly" value="monthly"onclick="generateMonthlyTemplate();">Monthly
      <input type="radio" name="timeframe" id="hourly" value="hourly" onclick="generateHourlyTemplate();" checked>Hourly

      <div id="results-container">
        <table>
          <tr>
            <td class="label">Rate Per Hour:</td>
            <td><input type="text" id="basicHrRate" value="8.50"/>   X  <input type="text" id="numHours" value="160"/> Hours</td>
          </tr>
          <tr>
            <td class="label">Overtime Rate Per Hour:</td>
            <td><input type="text" id="overtimeRate" value="1.5"/> times   X   <input type="text" id="overtimeHours" value="0"/> Hours</td>
          </tr>
          <tr>
            <td class="label">Additional Overtime Rate Per Hour:</td>
            <td><input type="text" id="additionalOvertimeRate" value="2"/> times   X   <input type="text" id="additionalOvertimeHours" value="0"/> Hours</td>
          </tr>
          <tr>
            <td class="label">Additional Compensation:</td>
            <td><input type="text" id="additionalCompensation" value="0"/></td>
          </tr>
          <tr>
            <td class="label">Additional Compensation(NO NI DEDUCTED):</td>
            <td><input type="text" id="additionalCompensationNONI" value="0"/></td>
          </tr>
        </table>
      </div>
      <button type="button" onclick="calculateSalary();">Calculate Now</button>
      <hr>
      <table>
        <tr>
          <td class=label>Gross Pay(Before tax):</td>
          <td><input type="text" id="grossPay"/></td>
        </tr>
        <tr>
          <td class=label>PAYE tax:</td>
          <td><input type="text" id="paye"/></td>
        </tr>
        <tr>
          <td class=label>National Insurance:</td>
          <td><input type="text" id="ni"/></td>
        </tr>
        <tr>
          <td class=label>Pension Contributions:</td>
          <td><input type="text" id="pension"/></td>
        </tr>
      </table>

      <div class="net-pay-container">
        Net Pay(After tax): <input type="text" id="netPay"/>
      </div>
    </div>
  </body>
</html>
