.container{
  background-color: LightGrey;
  max-width: 800px;
  margin: auto;
  border-radius: 30px;
  padding: 30px;
  text-align: center;
}

input{
  width: 100px;
  background-color: inherit;
  border-radius: 6px;
  border-color: LightPink;
  margin: 10px 20px 10px 20px;
}

button{
  height: 40px;
  width: 150px;
  background-color: MediumPurple;
  border-color: Violet;
  border-width: 6px;
  border-radius: 10px;
  margin-top: -50px;
  margin-bottom: 30px;
}

#results-container{
  background-color: Linen;
  padding: 20px 100px 20px 100px;
  margin: 50px 50px 50px 50px;
}

.net-pay-container{
  background-color: AntiqueWhite;
  height: 80px;
  max-width: 500px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: auto;
}
