body{
  background-color: darkgrey;
}

.container{
  background-color: grey;
  max-width: 800px;
  margin: auto;
}

.results-container{
  background-color: white;
  padding: 100px 100px 100px 100px;
}

.net-pay-container{
  background-color: green;
  height: 100px;
  width: 500px;
  font-size: 20px;
}
